* {
  -webkit-user-drag: none;
  user-select: none;
  cursor: url(img/dedao.png), default;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: #f3d86a;

  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
}

/* =========================================================================================================================================================================================================================================================================================================================================================================HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(243, 216, 106, 0.85); */
  background-color: #f3d86a;
  padding: 5px 20px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.1); */
  margin-bottom: 15px;
}

/* Logo (ícone + nome) */
header .log {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .log h2 {
  font-size: 35px;
  margin: 0;
}

header .log h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

/* Navegação */
nav {
  display: flex;
  gap: 20px;
}

nav button {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  background: #ffac40a9;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.2s ease;
}

nav button:hover {
  background-color: #f6910d;
  transform: scale(1.05);
}

nav button:active {
  transform: scale(0.97);
}

/*====================================================================================================================================================================================================================================================================================================================================================================CLIENTES*/

.cliente {
  width: 10%;

  position: absolute;
  top: 100px;
}

.mesa-guardar .cliente {
  display: block;
  width: 100px;
  height: auto;
}

.mesa-guardar {
    position: relative; /* <- ESSENCIAL */
    width: fit-content;
    height: fit-content;
    overflow: visible;
}

#mesa1-guardar {
  left: 410px;
  top: 140px;
}

#mesa2-guardar {
  left: 370px;
  top: 330px;
}

#mesa3-guardar {
  left: 750px;
  top: 330px;
}

/*====================================================================================================================================================================================================================================================================================================================================================================GAME AREA*/

/* #QUADRADO{
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: cover;
  background-color: aquamarine;
} */

#game-area {
  width: 80%; 
  max-height: 70%;
  background: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 0 auto;
  position: relative; /* necessário para o player absoluto */
  overflow: hidden;
}

.fundo {
  max-width: 70%;
  
}

#game-area img {
  max-width: 100%;
  max-height: 580px;
  border-radius: 10px;
}


/* ===================================================================================================================================================================================================================================================================================================================================================CENÁRIO E COLISÃO */
#janela {
  position: absolute;
  z-index: 1;

  height: 23%;
  
  left: 250px;
  top: 100px;
}


#mesa1, #mesa2, #mesa3, #parede, #parede2, #chao {
  background-size: cover;
  position: absolute;
}

#espatula {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-user-drag: auto ;
}

#mesa1 {
  height: auto;
  width: 120px;
  /* left: 430px;
  top: 230px; */
  z-index: 2
}

#parede:hover {
  cursor: url(img/Jeca-correndoL\ copy.gif), default;
}

#mesa2 {
  height: auto;
  width: 150px;
  /* left: 370px;
  top: 400px; */
  z-index: 4;
}

#mesa3 {
  height: auto;
  width: 150px;
  /* left: 750px;
  top: 400px; */
  z-index: 4;
}

#parede {
  /* background-color: blue; */
  height: 33vh;
  width: 65vw;
  z-index: 999;
}

#parede2 {
  /* background-color: purple; */
  height: 43vh;
  width: 35vw;
  left: 48vw;
  z-index: 999;
}

#chao {
  /* background-color: green; */
  height: 10vh;
  width: 65vw;
  top: 42vw;
  z-index: 999;
}

#cozinha {
  display: none;
  width: 80%;
  height: 100%; 
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  justify-content: center;
  overflow: hidden;
  z-index: 999999;
  border-radius: 20px;

  transform: scale(0); 
  transition: transform 2s ease;
}

#cozinha.animar {
  transform: scale(1);
}

#cozinha .fundo {
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px;
}


#panela {
  position: absolute;
}

#barravazia {
  position: absolute;
  height: 60px;
  width: 800px; 
  z-index: 3;
  overflow: hidden;
  margin-top: 50px;
  background-color: lightgoldenrodyellow;
}

#barracheia {
  background-color: green;
  position: absolute;
  height: 60px;
  width: 800px;
  z-index: 999;
  overflow: hidden;
  margin-left: -800px;
}

#good, #great, #awesome {
  position: absolute;
  margin-top: 50px;
  display: none;
  z-index: 9999999999;
}
/*==================================================================================================================================================================================================================================================================================================================================================================JOGADOR*/

.player {
  width: 10%;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
  z-index: 2;
}

